In [1]:
# DATE : 11-03-2024

#LIST OPERATIONS

a=[24,365,26.44,'guvi']
print(a)

[24, 365, 26.44, 'guvi']

In [2]:
#APPEND - Add Somrthing in the last:
a.append('Puma')
print(a)

a.append([24.8,335,'Raja'])
print(a)

[24, 365, 26.44, 'guvi', 'Puma']
[24, 365, 26.44, 'guvi', 'Puma', [24.8, 335, 'Raja']]

In [3]:
#to add multiple elements in the list using for loop

b=['queen','king',1997,24.68]
for z in b:
    a.append(z)
print(a)

[24, 365, 26.44, 'guvi', 'Puma', [24.8, 335, 'Raja'], 'queen', 'king', 1997, 24.68]

In [4]:
#to add multiple elements in the list : #extend

d=[55,987,26.48,'Text']
d.extend(['queen','king',777])
print(d)

[55, 987, 26.48, 'Text', 'queen', 'king', 777]

In [5]:
#insert: inserting at a certain place using index function in the list :

a.insert(2,555)
print(a)

[24, 365, 555, 26.44, 'guvi', 'Puma', [24.8, 335, 'Raja'], 'queen', 'king', 1997, 24.68]

In [6]:
#to replace a certain element in the list:
a[2]='God'
print(a)

[24, 365, 'God', 26.44, 'guvi', 'Puma', [24.8, 335, 'Raja'], 'queen', 'king', 1997, 24.68]

In [5]:
#to replace an element in the list, which is inside another list:
a=[24,365,'God',26.44,"guvi",'puma',[24.8,335,'Raja']]
a[6][2]='22'
print(a)

[24, 365, 'God', 26.44, 'guvi', 'puma', [24.8, 335, '22']]

In [7]:
#index : to find the index value 

c=[22,57,'God']
c.index('God')

2

In [8]:
#Count : count how many times a same element is repeated in the list:

c.extend([25,25,25])
print(c)

c.count(25)

[22, 57, 'God', 25, 25, 25]

3

In [9]:
#POP : TO temperorily remove an element

d=c.pop(2)
print(c)
print(d)

[22, 57, 25, 25, 25]
God

In [10]:
#delete : del : to permanantly delete an element from the memory.(Not only the list)

del c[1]
print(c)

[22, 25, 25, 25]

In [11]:
#Sort : To sort the list in the ascending order(variable.sort), use reverse=True to sort in descending order

e=[556,789,52.66,27,998.956]
e.sort(reverse=True)
print(e)

[998.956, 789, 556, 52.66, 27]

In [12]:
#only used in list or set, Dict contains numbers.
#max = to find the maximum value
#min - Minimum Value
#sum - To add all the Values

print(max(e))
print(min(e))
print(sum(e))

998.956
27
2423.616

In [ ]:
#Tuple 

#-Heterogeneous
#-Immutable
#-Ordered (by index)

In [13]:
x,y,z=(53,3.7,'King')
print(x)
print(y)
print(z)

53
3.7
King

In [ ]:
#Usage of Brackets :

#[] - Operations of List, Particular Data
#() - Functions / Methods
#{} - Dictionary / Data

In [ ]:
# STRINGS

#Functions of Strings

#variable.upper = Uppercase the String Completely
#v.lower = Lowercase the complete string
#v.Capitalize = Uppercase the 1st Letter of the String.
#v.count = Counts the character in the string.
#v.find = Finds the left most index value of a character in a string
#v.rfind = Finds the right most index value of the character in a string
#v.index = Finds the index value of a character in the string.
#len(variable) = Finds the total characters in a string. Even counts the Space.

In [14]:
#For Example :

s="Happy Morning"
print(s.upper())
print(s.capitalize())
print(s.lower())
print(s.count('a'))
print(s.find('p'))
print(s.rfind('n'))
print(s.index('Mo'))
print(len(s))

HAPPY MORNING
Happy morning
happy morning
1
2
11
6
13

In [12]:
a='5789'
b='27Sky'
c='Idly'
d='     '
print(a.isnumeric()) # Prints true if the string is only numnbers
print(c.isalnum())   # Prints true if the string contains both alphabet & numnbers
print(b.isalpha())   # Prints true if the string contains only alphabet
print(d.isspace())   # Prints true if the string contains only space
print(a.startswith('5'))
print(b.endswith('j'))

True
True
False
True
True
False

In [32]:
a='Succesfull Morning Everyone, Have a Pleasant day'
b='Hi HelloH'
c='Government'
d='12 34 56 78 910'
print(d.split()) #Splits in the space and prints in the list.
print(b.strip('H')) #Removes the element/Space only in the corners.

['12', '34', '56', '78', '910']
i Hello

In [44]:
a=input().split() #Use split function to get list inputs.
print(a)
print("y".join(a))  #Join/combines the string by the character given in the ""

['skydive']
skydive

In [48]:
a=input()
print("\n".join(a)) #\n = New line (Prints in a new line)

m
o
r
n
i
n
g

In [57]:
a=input()
print("\t".join(a)) #\t = tab (Prints in a tab space)

C	o	c	o	n	u	t

In [58]:
print(r"\n God") #r=raw string
print(f"\n God") #f=formatted string.

\n God

 God

In [63]:
a=input()
print(f'Good Morning {a}')

Good Morning Arivu

In [66]:
import datetime
print(datetime.date.today())

2024-03-12

In [68]:
import datetime
print(datetime.datetime.now())

2024-03-12 10:42:29.179452

In [76]:
a=input()
import datetime
print(f'Welcome Back {a}!, The Date & time is',(datetime.datetime.now()))

Welcome Back Mr. Arivalagan!, The Date & time is 2024-03-12 10:52:14.926597

In [80]:
#String formatting.
print('Good morning{a}{b}'.format(a=' Nirmal',b=' Guvi'))

Good morning Nirmal Guvi

In [83]:
#Set - {}
#Removes the 1st duplicate in a set.
#Set is Unordered.

a={85,669,45,257,555,555,669}
print(a)

{257, 85, 669, 555, 45}

In [85]:
#Dictionary - {}
# It is a key : Value Pair {k:v}
# DIctionary is unordered before version 3.8 / 3.10 but now its ordered using hashtable (but index is not accessible)

a={'Name':'Nirmal', 'Age': 33, 'City':'Chennai'}
print(a['Name'])

Nirmal

In [1]:
a= {25,34,58,34,22,25}
print(a)

{25, 34, 58, 22}

In [8]:
a = {"name":"madan","age":23,"hobbies":["playing batminton","watching youtube"]}
print(a)
print(a["name"])
a["phone"] = 9976
print(a)
a["phone"] = 9789
print(a)
del a["age"]
print(a)
print(a.keys())
print(a.values())
print(a.items())

{'name': 'madan', 'age': 23, 'hobbies': ['playing batminton', 'watching youtube']}
madan
{'name': 'madan', 'age': 23, 'hobbies': ['playing batminton', 'watching youtube'], 'phone': 9976}
{'name': 'madan', 'age': 23, 'hobbies': ['playing batminton', 'watching youtube'], 'phone': 9789}
{'name': 'madan', 'hobbies': ['playing batminton', 'watching youtube'], 'phone': 9789}
dict_keys(['name', 'hobbies', 'phone'])
dict_values(['madan', ['playing batminton', 'watching youtube'], 9789])
dict_items([('name', 'madan'), ('hobbies', ['playing batminton', 'watching youtube']), ('phone', 9789)])

In [5]:
a=[1,2,3,4,5] 
for i in a:
    print({i:i})

{1: 1}
{2: 2}
{3: 3}
{4: 4}
{5: 5}

In [20]:
#functions and its usage
def hello():
    print("hello world")
    return "respond from others"

hello world
respond from others

In [24]:
a = hello()
print(a)

hello world
respond from others

In [1]:
def abc(x):
    y=x.upper()
    z=len(x)
    return y+ "is of length"+ str(z)
l=abc("madan")
print(l)

MADANis of length5

In [2]:
#arguments and parameters are(inside)

def bank(name,acc,accty ="savings"): #accty is a default argument in this example and also default arguments comes after positional arguments
    return name,acc,accty

In [4]:
bank("madan",8675) #or

('madan', 8675, 'savings')

In [5]:
bank("madan",8765,"demat")

('madan', 8765, 'demat')

In [6]:
bank(acc= 7654,name="mehaa",accty="fd") #keyword argument

('mehaa', 7654, 'fd')

In [7]:
def fbaccount(*data): #arbitary/variable arguments and * collect data in single thing
    for i in data: #* means everything and unpacked
        print(i)
fbaccount(1,2,3,4,5,6,7)

1
2
3
4
5
6
7

In [12]:
def fbaccount (name,*data,colour ="green"):
    print(name,colour)
    for i in data:
        print(i)    
fbaccount("madan",1,2,3,4,5,colour="red")

madan red
1
2
3
4
5

In [15]:
def fbaccount(*data): 
    for i in data: 
        print(i)
fbaccount("madan","mehaa","manimozhli","hema")

madan
mehaa
manimozhli
hema

In [23]:
def guvi(**kw):
    print(kw)
    a = list(kw.keys())
    print(a)
    print(kw.keys())
    print(kw.values())
    print(kw.items())
    return kw.keys ()

In [24]:
guvi(name = "madan", pair ="mehaa",hometown ="chennai")

{'name': 'madan', 'pair': 'mehaa', 'hometown': 'chennai'}
['name', 'pair', 'hometown']
dict_keys(['name', 'pair', 'hometown'])
dict_values(['madan', 'mehaa', 'chennai'])
dict_items([('name', 'madan'), ('pair', 'mehaa'), ('hometown', 'chennai')])

dict_keys(['name', 'pair', 'hometown'])

In [31]:
#higher order function
def name(x):
   if x.islower():
       return True
   else:
       return False


def validation(x):
   if x.isalpha() and name(x):
       return "all good"
   else:
       return "something wrong"

In [32]:
validation("madanss")

'all good'

In [28]:
def name(x):
   if x.islower():
       return True
   else:
       return False


def validation(x,tt):
   if x.isalpha() and tt(x):
       return "all good"
   else:
       return "something wrong"

In [29]:
validation("madanss",name)

'all good'

In [33]:
#recursive function
def factorial(n): #base case: if n is 0 or 1
    if n in(0,1): 
        return 1 #recursive case : n! = n * (n-1)
    else:
        return n* factorial(n-1)
#example usage
print(factorial(5))

120

In [34]:
d = 10 #global variable
def hi():
    s = d*10
    return s
hi()

100

In [1]:
x = lambda a : a+10 #lambda
print(x(5))

15

In [3]:
z = lambda x,y : x*y
print(z(5,4))

20

In [7]:
a = lambda a:  "even" if a%2==0 else "odd"
print(a(10))

even

In [8]:
ages = [5, 12, 17, 18, 24, 32]

def adult(x):
  if x < 18:
   return False
  else:
   return True

adults = filter(adult, ages)

for x in adults:
 print(x)

18
24
32

In [9]:
ages = [5, 12, 17, 18, 24, 32]

def adult(x):
  if x < 18:
   return False
  else:
   return True

adults = filter(adult, ages)

print(list(adults))

[18, 24, 32]

In [10]:
name=["nirmal","nishant","hariharan","arivalagan"]

def adipoli(x):
   if "a" and "r" in x:
       return True
   else:
       return False
  
veliyetram=filter(lambda x:True if "a" in x else False ,name)
veliyetram1=filter(adipoli ,name)
print(list(veliyetram1))

['nirmal', 'hariharan', 'arivalagan']

In [11]:
#map function
#map(function, iterables)

def myfunc(n):
   return len(n)

x = map(myfunc, ('cat', 'elephant', 'cherry'))
#print(x)
print(list(x))

[3, 8, 6]

In [14]:
def myfunc(n):
   return n.upper()

x = map(myfunc, ('cat', 'elephant', 'cherry'))
#print(x)
print(list(x))

['CAT', 'ELEPHANT', 'CHERRY']

In [15]:
a="nirmal is a good boy"
b="1 3 2 4 2"
x=map(int,b.split())
print(list(x))

[1, 3, 2, 4, 2]

In [17]:
#class, methods and objects

class madan():
    x ="guvis data science" #this motebook is just ******
a =madan()
b =madan()
print(a.x)
print(b.x)

guvis data science
guvis data science

In [21]:
class human():
    def __init__(self):
        pass
    def kidney(self):
        return "purifies blood"

In [22]:
madan = human()
guvi = human()

In [23]:
madan.kidney()

'purifies blood'

In [24]:
class bank():
    def __init__(self,name,acc,bal):
        self.name = name
        self.acc = acc
        self.bal = bal

    def deposite(self,amount):
        self.bal = self.bal+amount
        return "your balance is" + str(self.bal)

In [25]:
guvi = bank("guvipvt",1234,1000000)

In [26]:
madan = bank("madan",4321,10000)

In [27]:
madan.acc

4321

In [26]:
#inheritance ( given below single inheritence)
class father(): #super or parent class
    def hair(self): 
        return "black hair"
    
class mother(): #multiple inheritence
    def anbu(self):
        return "always unlimited"
    
class son(father,mother): #children class or sub class
    def nose(self):
        return "killi mooku"
    
class grandson(son): #finally hierachel and hybrid inheritence
    def brain(self):
        return "IQ100" #multi level inheritence
    def nose(self):
        return "chappa mooku" #polymorphism

In [22]:
a = son()
print(a.hair())
print(a.nose())
print(a.anbu())

black hair
killi mooku
always unlimited

In [28]:
a = grandson()
print(a.hair())
print(a.nose()) #after polymorphism
print(a.brain())
print(a.anbu())

black hair
chappa mooku
IQ100
always unlimited

In [14]:
import guvi as g
a= g.son()
a.nose() #incomplete

'killi mooku'

In [31]:
#without encapsulation
class BankAccount:
   def __init__(self, account_number, balance):
       self.account_number = account_number
       self.balance = balance  # Public attribute

   def deposit(self, amount):
       self.balance += amount
       return self.balance

   def withdraw(self, amount):
       if amount > self.balance:
           print("Insufficient funds!")
           return
       self.balance -= amount
       return self.balance

   def get_balance(self):
       return self.balance

account = BankAccount("123456789", 100)
print(account.get_balance())  # 100


# With the balance being public, we can change it directly, potentially causing data inconsistency or misuse:
account.balance = 1000000
print(account.get_balance())  # 1000000


# Or even set it to nonsensical values:
account.balance = -500
print(account.get_balance())  # -500

100
1000000
-500

In [32]:
#with encapsulation
class BankAccount:
   def __init__(self, account_number, balance):
       self.account_number = account_number
       self.__balance = balance  # Private attribute


   def deposit(self, amount):
       self.__balance += amount
       return self.__balance

   def withdraw(self, amount):
       if amount > self.__balance:
           print("Insufficient funds!")
           return
       self.__balance -= amount
       return self.__balance

   def get_balance(self):
       return self.__balance


account = BankAccount("123456789", 100)
print(account.get_balance())  # 100


# With the balance being public, we can change it directly, potentially causing data inconsistency or misuse:
account.balance = 1000000
print(account.get_balance())  # 1000000


# Or even set it to nonsensical values:
#account.balance = -500
print(account.get_balance())  # -500


account.deposit(10000)
print(account.get_balance())

100
100
100
10100

In [35]:
#files and folder handling

!mkdir mehaa #(make directory) folder creation

A subdirectory or file mehaa already exists.
Error occurred while processing: mehaa.

In [39]:
#create the folder through python command
import os
os.mkdir("madan/mani/baby")

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'madan/mani/baby'